@page "/newbook"

<PageTitle>New Book</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <BookForm EditingMode="false" OnValidateBookSubmit="AddBook" />
    </div>
</div>

@code {
    
    private async Task AddBook(Book book)
    {
        await bookRepository.AddBook(book);
        navigation.NavigateTo("/books");
    }
}